<footer class="page-footer">
  <div class="container-fluid bg-dark py-2">
    <div class="mt-2 text-center">
      <p class="text-muted text-light">Eventbrite-Magic by THP</p>
    </div>
  </div>
</footer>